html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3FBFF;
    
}

body a{
    color: #3b3a3a;
    text-decoration: none;
}

body a:hover{
    color: #3b3a3a;
    text-decoration: none;
}

/* FONTES */
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
/* HEADER */

header{
    background-color: white;
}

header a{
    color: #3b3a3a;
}

header a:hover{
    color: #347AA1;
}

.logosite{
    position: relative;
        right: 20px;
}

.dropdown-bg{
    background-color: #F3FBFF;
}

.dropdown-bg a:hover{
    color: #347AA1;
}

.nav-site{
    background-color: #347AA1;
    color: white;
    overflow: hidden;
    white-space: nowrap;
}

.nav-site a{
    color: white;
}

/* MAIN */
    /* banner */
.bannertopo{
    background-image: url(/images/fundo-banner.jpg);
    background-position: center;
}

    /* empreendimentos */
.label-emp{
    background-color: #7A8581;
    color: white;
    padding: 7px;
    margin: 0 auto;
    width: 40%;
    text-align: center;
    position: relative;
        top: 19px;
}

.nome-emp{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.botao-conhecer{
    margin: 0 auto;
}

#empreendimentos .btn a{
    color: white;
    text-decoration: none;
}

.btn-light{
    border: solid #347AA1 1.5px;
}

.banner-emp1{
    background-image: url(/images/capa-empreendimento1.jpg);
    background-position: center;
}

.banner-emp2{
    background-image: url(/images/capa-empreendimento2.jpg);
    background-position: right bottom;
}

.banner-emp3{
    background-image: url(/images/capa-empreendimento3.jpg);
    background-position: center left;
}

.capa-emp1{
    background-image: url(/images/capa-empreendimento1.jpg);
    background-size: cover;
    background-position: center;
}

.capa-emp2{
    background-image: url(/images/capa-empreendimento2.jpg);
    background-size: cover;
    background-position: center;
}

.capa-emp3{
    background-image: url(/images/capa-empreendimento3.jpg);
    background-size: cover;
    background-position: center;
}

.capa-blog1{
    background-image: url(/images/blog-1.jpg);
    background-position: center;
    width: 100%;
    height: 125px;
    border: solid 1px white;
}

/* CUSTOMIZACAO BARRA DE SCROL NAVEGADOR */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #347AA1;
}

::-webkit-scrollbar-thumb {
    background-color: #347AA1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #347AA1;
}

* {
    scrollbar-width: 10px;
    scrollbar-color: #347aa1 #8fa9b8;
}

*::-moz-scrollbar {
    width: 12px;
}

*::-moz-scrollbar-track {
    background-color: #8fa9b8;
}

*::-moz-scrollbar-thumb {
    background-color: #8fa9b8;
    border-radius: 6px;
}

*::-moz-scrollbar-thumb:hover {
    background-color: #8fa9b8;
}

.btn-hover-effect:hover {
    transform: scale(1.06); 
    box-shadow: 0 0 5px #347AA1; 
  }

.btn-hover-effect2:hover {
    transform: scale(1.06); 
    box-shadow: 0 0 5px #347AA1; 
  }

.btn-width-100 {
    width: 100%;
}

/* FOOTER */
footer{
    background-color: #347AA1;
    color: white;
}

footer a{
    color: white;
}

.detalhe{
    background-color: #347AA1;
    border-radius: 10px;
}

.emp:hover{
    transform: scale(1.02); 
}

.label-servico{
    width: 70%;
    border: solid 2px #347AA1;
    margin: 0 auto;
    position: relative;
        bottom: 30px;
    font-size: 20px;
}

.capa-contrucao{
    width: 90%;
    height: 250px;
    border: solid 1px white;
}

.imgfundo-contrucao{
    background-image: url(/images/fundo-contrucao.jpg);
    background-size: cover;
    background-position: center;
}

.imgfundo-contrucao2{
    background-image: url(/images/fundo-contrucao.jpg);
    background-size: cover;
    background-position: center bottom;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.capa-reforma{
    width: 90%;
    height: 250px;
    border: solid 1px white;
}

.imgfundo-reforma{
    background-image: url(/images/capa-reforma.jpg);
    background-size: cover;
    background-position: center;
}

.imgfundo-laudo{
    background-image: url(/images/capa-laudos.jpg);
    background-size: cover;
    background-position: center;
}

.imgfundo-projetos{
    background-image: url(/images/capa-projetos.jpg);
    background-size: cover;
    background-position: center;
}

.imgfundo-laudos{
    background-image: url(/images/fundo-laudos.jpg);
    background-size: cover;
    background-position: center;
}

.img-sobre{
    background-image: url(/images/sobre.jpg);
    background-size: cover;
    background-position: center;
}

.imgfundo-sustentabilidade{
    background-image: url(/images/sustentabilidade.jpg);
    background-size: cover;
    background-position: center;
}

.imgfundo-importancia{
    background-image: url(/images/importancia-construcao.jpg);
    background-size: cover;
    background-position: center;
}

.imgfundo-normas{
    background-image: url(/images/normas.jpg);
    background-size: cover;
    background-position: top;
}

